html {
    /*se debe usar en todos los proyectos*/
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

/**header**/

/**.titulo{
    text-align:center;
    font-size:40px;
    padding-top:50px;
}**/

body {
    
    background-color: #050505;
}

/**NAVEGAION**/
/**
.botones{
   display:flex;
   justify-content: end;
   align-items: center;
   width:100%;
   height:100px;
   position:relative;
}

.botones ul{
    display: flex;
    gap:24px;
    
}
  
.botones li{
    list-style:none;
}

.botones a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    border-radius:5px;
    padding: 5px; /* Ajusta el tamaño del área de hover */

    

/*
.botones a:hover{
    background-color:#67887e;
    box-shadow: 5px 5px 5px #2E4E4E;
    transition: box-shadow 0.5s;/* Transición suave para la sombra */

.panel ul,li{
    justify-content:end
}

/**CARRUSEL**/
.slider-box {
    width: 1280px;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden; /** asegura que la imagen se ajuste al contenedor manteniendo su relación de aspecto y cubriendo completamente el contenedor, lo que garantiza que todas las imágenes se vean del mismo tamaño, independientemente de sus proporciones originales.**/
    
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
    
}

.slider-box img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center right;
    /**Centra la imagen dentro del contenedor y al derecho**/
    margin-left: 20px;

}



@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -140%;
    }

    45% {
        margin-left: -140%;
    }

    50% {
        margin-left: -270%;
    }

    70% {
        margin-left: -270%;
    }

    75% {
        margin-left: -350%;
    }

    100% {
        margin-left: -350%;
    }
}

@media(max-width:991px) {

    body {
        padding: 30px
    }

    .slider-box {
        width: 100%
    }
}

/**camaro **/

.container img {
    width: 400px;
    height: 100%;
    border-radius: 10px;
    padding-bottom:0;
    object-position: center;
}

.container {
    /*display: flex;
    padding: 30px;
    gap: 6px;
    justify-content: space-around;*/

    display: flex;
}

.texto-camaro{
    text-align:center; 
    padding:20px;
    flex:1; /* flex: 1; se aplica a cada elemento para que ocupen el mismo espacio disponible en el contenedor */
    border:1px ;
    margin:5px;
}

.texto-camaro p{
    color:aliceblue;
    text-align: justify;
    margin:20px;
}


/**texto abajo camaro**/
.texto-inferior {
    display: flex;
    text-align: center;
    margin: 100px;
    padding-top:20px;
    width:37%;
    margin: auto;
    color:aliceblue;
}

/*motor*/

.motor-camaro{
    display: flex;
    background-color:#67887e;
}

.foto-motor{
    margin: 15px 15px 15px 15px;
    overflow: hidden;
    width:163%;
    
}

.foto-motor img{
    width:auto;
    height:251px;
    transition: transform 0.3s ease; /* Transición suave del zoom */
}

.foto-motor img:hover{
    transform:scale(1.2);
}

.texto-motor{
    justify-content:center;
    font-size:18px;
}
        




/*tabla*/
.tabla-motor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table{
    
    display: flex;
    justify-content: center;
    width:auto;
    border-collapse: collapse;/* Combina los bordes de las celdas para evitar espacios entre ellos */
    overflow:hidden;
    box-shadow: 0 0 20px #2E4E4E;
}

th, td{
    padding:15px;
    color:#fff;
    background-color: #67887e;
    
}

th, td{
    text-align:justify;
}

th{
    background-color: #3D4F5E;
}

/*footer*/

footer{
    background-color:#67887e;
    height:2px; 
}

h4{
    display:flex;
    justify-content: start;
    color: white;
    padding-top: 15px;
}

.footer-box ul,li{
    color:white;
    display: flex;
    justify-content: start;
}

.site-footer h3 {
    margin-bottom: 5px;
}

.grid-footer{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
}

.mino-logos:hover{
    background-color: #405DE6, #F77737,#FCAF45;
    border-radius:50%;
    transition: 0.3s ease;
}

.mino-logos:hover{
    transform: scale(1.2);
    
    border-radius:50%;
}